{% extends "bookservices/base.html" %}
{% load static %}
{% block content %}
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
                <p class="mb-5 text-center">
                    <i class="text-info font-weight-bold">{{total_number_cart}}</i> items in your cart</p>
                <table id="shoppingCart" class="table table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th style="width:60%">Product</th>
                        <th style="width:12%">Price</th>
                        <th style="width:10%">Quantity</th>
                        <th style="width:16%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order_item in order_items %}
                    <tr>

                        <td data-th="Product">
                            <div class="row">
                                <div class="col-md-3 text-left">
                                    <img src="{{order_item.book.image.url}}" alt=""
                                         class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                </div>
                                <div data-book={{order_item.book.id}} class="col-md-9 text-left mt-sm-2">
                                    <h4>{{order_item.book.title}}</h4>
                                    <p class="font-weight-light">{{order_item.book.author}}</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">{{order_item.one_item_total}}</td>
                        <td data-th="Quantity">
                            <input type="number" min="0" data-book="{{order_item.book.id}}" class="form-control form-control-lg text-center update-cart" value="{{order_item.quantity}}">
                        </td>
                        <td class="actions" data-th="">
                            <div class="text-right">
                                <button class="btn btn-white border-secondary bg-white btn-md mb-2 delete-cart" data-action="remove" data-book="{{order_item.book.id}}" >
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="float-right text-right">
                    <h4>Subtotal:</h4>
                    <h1>{{total_amount_cart}}</h1>
                </div>
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <div class="col-sm-6 order-md-2 text-right">
                <a href="{% url 'checkout' %}" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
            </div>
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a href="{% url 'home' %}">
                    <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
            </div>
        </div>
    </div>
</section>
<script src="https://kit.fontawesome.com/6621804df1.js" crossorigin="anonymous"></script>

{% endblock %}