{% extends "bookservices/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'bookservices/css/sin-up-in.css' %}">
<div class="sign-up-form">
  <img src="{% static 'bookservices/images/user.png' %}" >
  <h1>Sign In</h1>
  <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <input type="email" name="email" class="input-box" placeholder="Your Email">
      <input type="password" name="password" class="input-box" placeholder="Your password">
      <button type="submit" class="signup-btn">Sign in</button>
      <hr>
      {% if error %}
      <span>{{error}}</span>
      {% endif %}
       
      <p class="or">OR</p> <p>Don't have an account ? <a href="{% url 'sinup' %}">Sign Up</a></p>
  </form>
</div>

{% endblock content %}